<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Encuesta Dojo</title>
</head>

<body>
    <form action="/process" method="post" class="bg-dark text-primary p-5 rounded col-6 mx-auto">
        <h1>Encuesta Dojo</h1>
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" name="name" class="form-control">
        </div>
    
        <div class="form-group">
            <label for="location">Dojo Ubicacion:</label>
            <select name="location" class="form-control">
                <option value="">--SELECCIONA--</option>
                <option value="Chicago">Chicago</option>
                <option value="Burbank">Burbank</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
    
            </select>

        </div>


        <div class="form-group">
            <label for="language">Lenguaje Favorito</label>
            <select name="language" class="form-control">
                <option value="">--SELECCIONA--</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>

            </select>

        </div>
        <div class="form-group">
            <label for="name">Comentarios:</label>
            <textarea name="comments" cols="38" rows="10" class="form-control"></textarea>

        </div>
        <input type="submit" value="Submit" class="btn btn-primary">


    </form>
</body>

</html>